<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-xs-12">-->
<!--      <h1>hi there</h1>-->
<!--      <app-servers></app-servers>-->
<!--      <app-warning-alert></app-warning-alert>-->
<!--      <app-success-alert></app-success-alert>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<hr>

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-xs-12">-->
<!--      <label>Name</label>-->
<!--      <input type="text" class="form-control" [(ngModel)]="userName">-->
<!--      <p>{{ userName }}</p>-->
<!--      <button-->
<!--        class="btn btn-primary"-->
<!--        [disabled]="userName===''"-->
<!--        (click)="userName=''">Reset a user-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<app-servers></app-servers>
